
@model List<ProductWithCategoryDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary" asp-controller="Products" asp-action="Save">Save Product</a>
<table class="table table-stripped">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Price</td>
			<td>Stock</td>
			<td>Category Name</td>
		
			
		</tr>
	</thead>
	<tbody>
		
			@foreach (var item in Model)
			{
			<tr>	
			<td>@item.Id</td>	
			<td>@item.Name</td>	
			<td>@item.Price</td>	
			<td>@item.Stock</td>	
			<td>@item.Category.Name</td>	
			<td><a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Update</a> </td>	
		    <td><a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Delete</a> </td>	

			</tr>

		}
	</tbody>
</table>
